<div class="container">
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li><a href="#info" data-toggle="tab">个人资料</a></li>
      <li><a href="#account" data-toggle="tab">账户信息</a></li>
    </ul>
  </div>
  
  <div class="tab-content">
    <div class="row-fluid tab-pane active" id="info">
      <%= form_for(@user, :url => profile_path(@user), :html => {:method => :put}) do |f| %>
      <div class="span11">
        <%= f.label :profile, "个人简介" %><br />
        <p class="alert">公开信息，请尽量填写详细，但是不要泄露个人身份隐私。</p>
        <%= f.text_area :profile, :class => "span7" %>
      </div>
      
      <div class="span11">
        <%= f.submit "保存", :class => "btn btn-huge btn-primary" %>
      </div>
      <% end %>
    </div>
    
    <div class="row-fluid tab-pane" id="account">
      <div class="span12">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        
        <div><%= f.label :email, "邮箱" %><br />
          <%= f.email_field :email, :autofocus => true %></div>
        
        <div><%= f.label :name, "名号" %><br />
          <%= f.text_field :name %></div>
        
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div><%= f.label :password, "密码" %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>
        
        <div><%= f.label :password_confirmation, "密码" %><br />
          <%= f.password_field :password_confirmation %></div>
        
        <div><%= f.label :current_password, "当前密码" %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password %></div>
        
        <div><%= f.submit "更新" %></div>
        <% end %>
        
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
