你好，<%= @user.name %>,<br />
<br />
双方邮件为<br />
<br />
<ul>
<li><%= @flirt.sender.name %>[<%= @flirt.sender.email %>]</li>
<li><%= @flirt.receiver.name %>[<%= @flirt.receiver.email %>]</li>
</ul>
<br />
最后，恭喜你们！<br />
<br />
<br />
          obard.com 管理<br />
          admin@obard.com<br />
