<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>项目展示</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= paginate @projects, :theme => 'twitter-bootstrap' %>
    </div>

    <% @projects.each do |project| %>
    <div class="span12">
      <h2><%= link_to project.name, project %><small>&nbsp; BY <%= link_to project.user.name, profile_url(project.user) %></small></h2>
      <p><%= truncate project.description, :length => 40 %></p>
    </div>
    <% end %>

    <div class="span12">
      <%= paginate @projects, :theme => 'twitter-bootstrap' %>
    </div>

    
    <div class="span12">
      <p><a href="<%= new_project_path %>" class="btn btn-huge"><i class="icon-plus"></i>&nbsp; 添加我的项目</a></p>
    </div>
  </div>

</div>
