<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= link_to @project.name, @project %> <small>BY <%= link_to @project.user.name, profile_url(@project.user) %></small></h1>
    </div>

    <div class="span12">
      <%= simple_format @project.description %>
    </div>
    
    <div class="span12">
      <% if @project.user == current_user %>
        <%= link_to '编辑', edit_project_path(@project) %>
        /
      <% end %>
  
      <%= link_to '项目列表', projects_path %>
    </div>
  </div>
</div>
