<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= link_to @project.name, @project %> <small>BY <%= link_to @project.user.name, profile_url(@project.user) %></small></h1>
    </div>

    <div class="span12">
      <%= simple_format @project.description %>
    </div>

    <% if !@project.flirts.empty? %>
    <div class="span12">
      <h3>媚眼一箩筐</h3>
      
      <ul>
        <% @project.flirts.each do |flirt| %>
        <li>
          <%= link_to flirt.sender.name, profile_url(flirt.sender) %> 抛了媚眼
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="span12">
      <%= form_for @project.flirts.build do |f| %>
        <%= f.hidden_field :project_id %>
        <%= f.submit "抛个媚眼", :class => "btn btn-primary" %>
      <% end %>
    </div>

    
    <div class="span12">
      <% if @project.user == current_user %>
        <%= link_to '编辑', edit_project_path(@project) %>
        /
      <% end %>
    </div>

    <div class="span12">
      <%= link_to '回到项目列表', projects_path %>
    </div>
  </div>
</div>
