<!DOCTYPE html>
<html>
<head>
  <title>大家来组队</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= tinymce_assets %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    body, input, button, select, textarea {
      font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
      font-size: 108%;
      letter-spacing: 2px;
    }

    h1,h2, h3, h4, h5, h6 {
      font-weight: normal;
    }
  </style>
</head>
<body>

<%= render :partial => 'layouts/navbar' %>
<%= render :partial => 'layouts/messages' %>

<%= yield %>

<%= render :partial => 'layouts/footer' %>
</body>
</html>
