<!DOCTYPE html>
<html>
<head>
  <title>大家来组队</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => 'layouts/navbar' %>
  
  <div class="body-wrapper">
    <%= render :partial => 'layouts/messages' %>
    <%= yield %>
    <%= render :partial => 'layouts/footer' %>
  </div>

</body>
</html>
